*{
    box-sizing: border-box;
    margin: 0 auto;
    
}
#tloo{
    position: absolute;
    z-index: 0;
    width: 100vw;
    height: 100vh;
     background: #090979;
        background: radial-gradient(circle, rgba(0, 0, 0, 1) 0%, rgba(36, 14, 115, 1) 70%,rgba(9, 9, 121, 1)  100%);
     animation: tlo 3s infinite alternate;

}
#kurwa{
    height: 100vh;
   background: #090979;
background: radial-gradient(circle,rgba(9, 9, 121, 1) 0%, rgba(36, 14, 115, 1) 54%, rgba(0, 0, 0, 1) 100%);
overflow: hidden;
   
}
@keyframes tlo{
    0% {
        opacity: 0;
  }

  100% {
        opacity:1;
  }
}
.playerImage{
    width: 100px;
    height: 100px;
    position: absolute;
    border-radius: 100%;
    left:50px;
    z-index: 2;
    transition: 2s;
}
.playerName{
    position: absolute;
    width:200px;
    top:80px;
    text-align: center;
    font-size: 20px;
    z-index: 5;
    transition: 2s;
    color: rgb(240,232,90);
}
.stojak{
    width: 200px;
    position: relative;
    margin-top: 70px;
    z-index: 5;
    transition: 2s;
}
.player{
    position: absolute;
    width:fit-content ;
    
    transition: 2s;
 
}
#players{
    width: 100%;
    height: 50% ;
    position: relative;
    
}
.stojak:hover{
    transform: rotate(5000deg);
}
.stojak:hover ~ .playerImage{
    transform: scale(5);
}
.stojak:hover ~ .playerName{
    color:rgb(231, 95, 118);
    font-size: 4%;
}
#sigmaa{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top:0;
    left:0;
    background-color: red;
    display: none;
}
#sigmaa2{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top:0;
    left:0;
    background-image: url('./img/fire.gif');
    display: none;
}
#sigmaa3{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top:0;
    left:0;
    background-image: url('./img/200.gif');
    display: none;
}
#sigmaa4{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top:0;
    left:0;
    background-image: url('./img/kaczka.gif');
    display: none;
}
#sigmaa6{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top:0;
    left:0;
    background-image: url('./img/diva.gif');
    display: none;
}
#tvp2{
    position:absolute;
    top:55px;
    right: 105px;
    width:calc(472px/3.5);
    height: calc(220px/3.5);
}
#parental{
    position:absolute;
    bottom:55px;
    right: 55px;
    width:calc(250px/2);
    height: calc(157px/2);
}
#rating18{
    position:absolute;
    top:55px;
    left: 55px;
    width:50px;
    height:50px;
}
#qrcode{
    position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  width: 900px;
  height: 900px;

}