*{
    box-sizing: border-box;
    margin: 0 auto;
    
}
#kurwa{
    height: 100vh;
   background: #090979;
background: radial-gradient(circle,rgba(9, 9, 121, 1) 0%, rgba(36, 14, 115, 1) 54%, rgba(0, 0, 0, 1) 100%);
overflow: hidden;
}
.playerImage{
    width: 100px;
    height: 100px;
    position: absolute;
    border-radius: 100%;
    left:50px;
    z-index: 2;
    transition: 2s;
}
.playerName{
    position: absolute;
    width:200px;
    top:80px;
    text-align: center;
    font-size: 20px;
    z-index: 5;
    transition: 2s;
    color: rgb(240,232,90);
}
.stojak{
    width: 200px;
    position: relative;
    margin-top: 70px;
    z-index: 5;
    transition: 2s;
}
.player{
    position: absolute;
    width:fit-content ;
    
    transition: 2s;
 
}
#players{
    width: 100%;
    height: 50% ;
    position: relative;
    
}
.stojak:hover{
    transform: rotate(5000deg);
}
.stojak:hover ~ .playerImage{
    transform: scale(5);
}
.stojak:hover ~ .playerName{
    color:rgb(231, 95, 118);
    font-size: 4%;
}
#sigmaa{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top:0;
    left:0;
    background-color: red;
    display: none;
}
#sigmaa2{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top:0;
    left:0;
    background-image: url('./img/fire.gif');
    display: none;
}
#sigmaa3{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top:0;
    left:0;
    background-image: url('./img/200.gif');
    display: none;
}
#sigmaa4{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top:0;
    left:0;
    background-image: url('./img/kaczka.gif');
    display: none;
}
#sigmaa6{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top:0;
    left:0;
    background-image: url('./img/diva.gif');
    display: none;
}