*{
    box-sizing: border-box;
    margin: 0 auto;
}
.playerImage{
    width: 100px;
    height: 100px;
    position: absolute;
    border-radius: 100%;
    left:50px;
    z-index: 2;
}
.playerName{
    position: absolute;
    width:200px;
    top:80px;
    text-align: center;
    font-size: 20px;
    z-index: 5;
    color: rgb(240,232,90);
}
.stojak{
    width: 200px;
    position: relative;
    margin-top: 70px;
    z-index: 5;
}
.player{
    position: absolute;
    width:fit-content ;
 
}
#players{
    width: 100%;
    height: 50% ;
    position: relative;
    
}